
table{						/* define table's back ground */
	width: 100%;
	white-space: nowrap;
	text-decoration: none;
	font-family: Tahoma;
	background-color: white;
	font-size: 13px;
	margin: 8px;
	/*
	border: 1px solid #0058a3;
	*/
	/*table border*/
	
	padding: 2px;
}

.table-data th{
	font-size: 13px;
	color: white;
	background: #687291;
	padding-top: 2px;		/* padding: 2px 8px; */
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;		
	text-align:  left; /* center */
}

.table-data td{				/* draw the sperate white line between rows */
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: white;
	border-collapse: collapse; /* try separate */

	text-align: left;	   /* text cell in table is align left */
	padding: 2px 8px;
}

/* have problem in control cell in the table's data */
.test th{ color: red; }


.number{
	color: red;
	text-align: center;
}


.item1{
	background: #eeeff2;
}
.item2{
	background: #dfe1e7;
	padding: 1px;
}
.item3{
	background: #eeeff2;
	padding: 1px;
}
.item4{
	background: #dfe1e7;
	padding: 1px;
}
.item5{
	background: #eeeff2;
	padding: 1px;
}
.item6{
	visibility: hidden;
	background: #dfe1e7;
	padding: 1px;
}
